/* CartPage.css */

.cart-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 130px;
  margin-bottom: 170px;
  animation: fadeIn .5s ease-in-out;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.cart-items {
  margin-bottom: 20px;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  margin-right: 20px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h3 {
  margin: 0;
  color: #555;
}

.cart-item-details p {
  margin: 5px 0;
  color: #777;
}

.product-controls {
  display: flex;
  align-items: center;
}

.control-buttons {
  background: linear-gradient(to right, #e1e10e 0%, #d2d23e 100%);
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  font-size: 16px;
  margin: 0 5px;

  
}

.control-buttons:hover{
  transition: 0.3s;
  color: white;
}

.remove-item-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.cart-total {
  text-align: right;
  margin-top: 20px;
  font-size: 18px;
}

.cart-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  
}

.clear-cart-button, .checkout-button {
  cursor: pointer;
  font-size: 16px;
  background: linear-gradient(to right, #e1e10e 0%, #d2d23e 100%);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
}

.clear-cart-button:hover, .checkout-button:hover {
  transition: 0.3s;
  color: white;
}

#emptyCartLogo {
  width: 200px;
  display: block;
  margin: 100px auto;
}
