.contact-page {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px;
    margin-bottom: 170px;
    animation: fadeIn 1s ease-in-out;

  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .contact-form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form button {
    padding: 10px;
    background: linear-gradient(to right, #e1e10e 0%, #d2d23e 100%);
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .contact-form button:hover {
    color: rgb(255, 255, 255);
    transition: .3s;
  }
  
  