.products-page {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 60px;
  animation: fadeIn .5s ease-in-out;

}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.product-card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 40px); /* 3 items per row with gap */
  margin: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.product-name {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-price {
  font-size: 1rem;
  margin-right: 10px;
  color:black;
  margin-bottom: 10px;
}

.add-to-cart-button {
  background: linear-gradient(to right, #e1e10e 0%, #d2d23e 100%);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

.add-to-cart-button:hover {
  transition: 0.3s;
  color: white;

}

@media (max-width: 768px) {
  .product-card {
    width: calc(50% - 40px); /* 2 items per row with gap */
  }
}

@media (max-width: 480px) {
  .product-card {
    width: calc(100% - 40px); /* 1 item per row with gap */
  }
}

#plusBtn{
  margin-right: 10px;
  border-radius: 35px;
}

#minusBtn{
  margin-left: 10px;
  border-radius: 35px;
  
}

.conrolBtns{
  margin-bottom: 5px;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


.cart-icon-wrapper {
  background-color: #d2d23e;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 10px;
  margin-right: 8px;
  color: black;
}

.cart-icon-wrapper:hover{
  color: white;
  transition: .3s;
}
