.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background: url('https://i.pinimg.com/originals/af/db/30/afdb30e83d6ca64eb482a6b40c295e08.jpg') no-repeat center center fixed;

}

#logoImage{
  width: 50px;
  height: 50px;
  border-radius: 40px;

}

.content{
  margin-top: -30px;
}